body {
  background-image: url(photos/lake1.jpg);
  transition: background 0.8s ease-in 0.2s;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover !important;
  min-height: 100%;
  color: white;
}

.center{
  text-align: center;
  background-color: rgba(10, 10, 10, 0.6);
  border-radius: 10px;
}
